.hero{
    max-width: 100%;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px 600px 800px;
    background-image: url(../../assets/lmd_logo.png);
    justify-content: center;
    align-items: center;
    padding: 50px;
    position: absolute;
    width: 500px;
    height: 500px;
    left: 700px;
    top: 200px;
}
/* logo + welcome page */
.text-container{
    position: absolute;
    left: 55px;
    bottom: 500px;
    line-height: 77px;
    text-align: center;
    
}
h1{
    color: white;
    font-weight: 900;
    font-size: 72px;
    line-height: 77px;
    text-align: center;
    -webkit-text-stroke: 5px;
    -webkit-text-stroke-color: black; 
    
}

.parent-svg{
    position: relative;
    width: 1680px;
    height: 590px;
    top: 600px;

}
svg {
    display: block;
}
.svg-one{
    position: absolute;
    top: 0;
}
.svg-two{
    position: absolute;
    top: 52px;
    left: -150px;
}
.svg-three{
    position: absolute;
    right: -115px;
    top: 46px
    
}
.learning-text-container{
    position: absolute;
    display:grid;
    grid-template-columns: 200px 200px 200px 300px;
    column-gap: 150px;
    padding: 10px;
    height: 105px;
    align-items: center;
    top: 495px;
    color: white;
    font-size: 64px;
    font-weight: 700;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    right: -460px;
}


/* about.section */

.p-container{
    position: relative;
    top: 370px;
    left: 325px;
    width: 1024px;
    height: 350px;
    border-radius: 2px;
}

.pOne {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 1000px;
    height: 56px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.pTwo{
    width: 989px;
    height: 108px;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 1000px;
    height: 108px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.pThree{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 989px;
    height: 144px;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}