nav{
    width: 100%;
    height: 100px;
    background: #FFD1B0;
    color: white; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    padding: 4px 0;
    z-index: 10;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.logo {
    width: auto;
    display: flex;
    position: relative;
    align-items: center;
    padding: 25px 50px;
}
nav ul {
    width: 1238px;
    height: 100px;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    padding-left: 15px;
    
}
nav li{ 
    padding-right: 50px;
    font-size: 30px;
    display: inline;
    list-style: none;
}

nav li:hover a{
    color: #92ADA4;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #92ADA4;
}


/*--- media queries --*/

@media (max-width: 1200px) {
    nav{
        padding: 15px 0;
        display: flex;
    }
    nav ul{
        position:fixed;
        top: 0;
        right: 0;
        background: #FFD1B0;
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }
 
}